/folder1/ @akhtech/team1
/folder2/ @akhtech/team2
/folder3/ @akhtech/team3
/folder4/ @akhtech/team1 @akhtech/team2 @akhtech/team3
/folder5/ @akhtech/team1 @akhtech/team3
/folder6/ @akhtech/team3 @akhtech/team2
